@import url('https://fonts.googleapis.com/css?family=Roboto');

.wraper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 35px;
    font-family: Roboto, Verdana, sans-serif;
    box-sizing: border-box;
}

.social {
    float: left;
    padding: 0 15px;
}

.social__icon {
    height: 23px;
    margin: 7px;
}

.login {
    color: #909090;
    float: right;
    padding: 0 15px;
}

.login__icon {
    height: 23px;
    margin: 7px;
    vertical-align: middle;
}

.login__link {
    text-decoration: none;
    color: inherit;
}

.line-width {
    min-height: 1px;
    background: #e5e5e5;
    clear: both;
    margin: 0 -35px;
}

.logo {
    float: left;
    padding: 0 15px;
}

.logo__image {
    margin: 17px 0 13px;
    max-width: 100%;
}

.basket {
    float: right;
    padding-right: 35px;
}

.basket__link {
    text-decoration: none;
    color: #000;
}

.basket__icon {
    height: 36px;
    margin: 30px 20px 28px 0;
    vertical-align: middle;
}

.basket__description {
    display: inline-block;
    vertical-align: middle;
    font-family: Verdana;
    font-size: 14pt;
}

.search {
    text-align: center;
    margin: 25px 0 27px;
}

.search__input {
    height: 37px;
    width: 285px;
    padding-left: 15px;
    border: none;
    background: #f2f2f2;
}

.search__button {
    background: #f00;
    display: inline-block;
    padding: 6px 25px;
    position: relative;
    top: 4px;
}

.search__icon {
    height: 22px;
}

.menu {
    clear: both;
    background: #f00;
    padding: 3px 0;
    margin: 0 -35px;
}

.menu__link {
    line-height: 40px;
    border-right: 1px solid #fff;
}

.menu__item {
    display: inline-block;
    color: #fff;
    width: calc(25% - 2px);
    text-align: center;
}

.menu__link:last-child {
    border-right: none;
}

.banner {
    padding: 30px 0;
}

.banner__slide {
    text-align: center;
    width: 100%;
}

.banner__image {
    vertical-align: middle;
    margin-right: 100px;
}

.banner__description {
    display: inline-block;
    text-align: left;
    font-family: Verdana;
    vertical-align: middle;
}

.banner__title {
    font-size: 2rem;
    color: #636363;
}

.banner__subtitle {
    font-size: .9rem;
    color: #ff0000;
    margin: 5px 0;
    display: inline-block;
}

.banner__ads {
    font-size: .8rem;
}

.banner__link {
    color: #000;
    font-weight: 600;
}

.banner__button {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ff0000;
    display: inline-block;
}

.sale {
    margin: 0 -20px 30px;
}

.sale__item {
    margin: 0 20px;
    background: #f00;
    display: inline-block;
    width: calc(33% - 40px);
    padding: 20px 30px 30px 30px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.sale__link {
    color: #fff;
}

.sale__description {
    margin-bottom: 15px;
    display: inline-block;
}

.sale__item_bold {
    font-size: 1.1rem;
    font-weight: 700;
}

.catalog {
    margin: 0 -20px;
}

.catalog__item {
    width: calc(25% - 44px);
    margin: 0 20px 30px 20px;
    position: relative;
    display: inline-block;
}

.catalog__link {
    color: #5c5c5c;
}

.catalog__card {
    border: 1px solid #e5e5e5;
    display: inline-block;
    width: calc(100% - 49px);
    padding: 15px;
    box-sizing: border-box;
}

.catalog__subtitle {
    color: #5c5c5c;
}

.catalog__description {
    color: #5c5c5c;
    margin: 5px 0;
}

.catalog__image {
    max-width: 100%;
}

.catalog__price {
    color: #ff0000;
}

.catalog__basket {
    border: 1px solid #e5e5e5;
    width: 45px;
    text-align: center;
    padding: 7px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.catalog__info {
    border: 1px solid #e5e5e5;
    width: 45px;
    text-align: center;
    padding: 12px 0;
    position: absolute;
    top: 52px;
    right: 0;
}

.catalog__icon {
    height: 30px;
}

.catalog__icon_mini {
    height: 20px;
}

.footer {
    margin: 0 -35px;
    padding: 0 15px;
    background: #636363;
    color: #ffffff;
    overflow: hidden;
}

.footer__item {
    width: calc(25% - 43px);
    margin: 0 20px 30px 20px;
    display: inline-block;
    vertical-align: top;
}

.footer__subtitle {
    margin: 20px 0;
    padding: 0 20px;
    font-size: 1.2rem;
}

.line-width_mini-white {
    background: #ffffff;
    height: 1px;
    margin: 0 -33px;
}

.footer__link {
    text-decoration: none;
    color: #ffffff;
    font-size: .8rem;
}

.footer__list {
    padding: 0 20px;
}

.footer__list-item {
    margin-top: 20px;
}

.footer__socials {
    padding: 0 20px;
}

.footer__icon {
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.footer__phone-number {
    display: block;
    margin-top: 20px;
    padding: 0 40px;
    font-size: 1.65rem;
}

.footer__copyright {
    text-align: center;
    font-size: .7rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 1366px){
    .footer__socials {
        padding: 0 0 0 15px;
    }

    .footer__icon {
        height: 40px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .footer__phone-number {
        margin-top: 15px;
        padding: 0 0 0 30px;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1170px) {
    .footer__socials {
        padding: 0 0 0 10px;
    }

    .footer__icon {
        height: 30px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .footer__phone-number {
        margin-top: 15px;
        padding: 0 0 0 20px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 970px) {
    .sale__item {
        width: calc(33% - 41px);
    }

    .catalog__item {
        width: calc(33% - 41px);
    }

    .footer__item {
        width: calc(25% - 3px);
        margin: 0 0 30px 0;
    }

    .footer__socials {
        padding: 0 0 0 5px;
    }

    .search {
        clear: both;
        text-align: left;
    }

    .search__input {
        width: calc(100% - 87px);
    }

    .banner__image {
        vertical-align: middle;
        margin-right: 0;
    }

    .footer__icon {
        height: 20px;
        margin-left: 10px;
    }

    .footer__phone-number {
        padding: 0 0 0 10px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .catalog__item {
        width: calc(50% - 42px);
    }

    .footer__item {
        width: calc(50% - 42px);
        margin: 0 20px 30px 20px;
    }

    .sale__item {
        width: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .social {
        float: none;
        text-align: center;
    }

    .login {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    .logo {
        float: none;
        padding: 0 15px;
        text-align: center;
    }

    .basket {
        float: none;
        text-align: center;
        padding-right: 0;
    }

    .catalog__item {
        width: auto;
    }

    .footer {
        text-align: center;
    }

    .footer__item {
        width: 100%;
        margin: 0;
    }

    .footer__copyright {
        margin-top: 30px;
    }
}

